body {
  font-family: Shrikhand Regular;
  margin: 0;
  padding: 20px;
}

#story-container {
  max-width: 800px;
  margin: 0 auto;
}

#image-container {
  text-align: center; /* Center align the images */
  margin-bottom: 5px;
}

#image-container img {
  max-width: 100%;
  max-height: 500px;
}

img {
    width: 100%;
    height: 768px;
    object-fit: cover;
    object-position: center;
}

#story-content {
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 20px;
}

#choices {
  display: flex;
  justify-content: center;
}

button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
